@font-face {
    font-family: Patsy;
    src: url(../fonts/PatsySans.otf);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 10px;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1a1717, #000000);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
    height: 10%;
    background-color: #1a1717;
    color: white;
    padding: 10px 0;
}

.header-menu {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row;
    height: 100%;
    align-items: flex-end;
    justify-content: space-around;
}

.header-menu-left, .header-menu-right {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}


#register-title {
    font-family: Patsy;
    font-size: 2rem;
    text-align: center;
}

.reader {
    display: none;
}

#registration-form {
    border-radius: 10px;
    background-color: #1a1717;
    color: white;
}

#username, #password {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-family: Patsy;
}

#register-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: Patsy;
    font-size: 1.2rem;
    position: relative;
    transform: 1.5s;
}

#register-button:hover {
    background-color: #45a049;
}

#blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.8); */
    z-index: 1;
}

.bottom-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.bottom-line-l {
    width: 40%;
    height: 2px;
    background-color: white;
    margin-bottom: 10px;
    justify-self: center;
}
.bottom-line-r {
    width: 40%;
    height: 2px;
    background-color: white;
    margin-bottom: 10px;
    justify-self: center;
}

.logo {
    width: 100px;
    position: absolute;
    height: auto;
    margin: 10px;
}

.main {
    padding: 20px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    flex-grow: 1;
    margin: 0 20px;
}

.game-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 20px;
}

.game-item {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 20%; /* Adjusting for gap and margins */
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

#hangman {
    background: url(images/game2.png) no-repeat center center;
    background-size: cover;
}
#blackjack {
    background: url(images/game1.png) no-repeat center center;
    background-size: cover;
}
#snake {
    background: url(images/game3.png) no-repeat center center;
    background-size: cover;
}
#nfs {
    background: url(images/game4.png) no-repeat center center;
    background-size: cover;
}
#darts {
    background: url(images/game5.png) no-repeat center center;
    background-size: cover;
}

.game-item:hover {
    transform: scale(1.05) translateY(-5px) translateX(-5px);
    box-shadow: 0 0 42px rgb(241, 81, 230);
}

.game-image-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.game-image {
    object-fit: none; /* This will ensure the image covers the container without stretching */
}

.info {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.game-item:hover .info {
    opacity: 1;
}

.info h2 {
    margin: 0;
    font-size: 18px;
}

.info p {
    margin: 5px 0 0;
    font-size: 14px;
}

.main-main_game {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.random, .search {
    text-align: center;
}

.random_question img, .search_question img {
    width: 150px;
    height: auto;
    object-fit: cover; /* This will ensure the image covers the container without stretching */
}

.random_text, .search_text {
    margin: 10px 0;
    color: white;
    font-size: 18px;
}

a {
    text-decoration: none;
    font: bold 20px Patsy, Arial, sans-serif;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(241, 81, 230),
        0 0 82px rgb(241, 81, 230),
        0 0 92px rgb(241, 81, 230),
        0 0 102px rgb(241, 81, 230),
        0 0 151px rgb(241, 81, 230);
    transform: scale(1.05);
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .form a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer .form a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .game-item {
        width: calc(50% - 40px); /* Adjusting for smaller screens */
    }
}

@media (max-width: 480px) {
    .game-item {
        width: calc(100% - 40px); /* Adjusting for even smaller screens */
    }
}

.ask a, .search a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aquamarine;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
}

/* Add some styles for the search popup */
.search-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.search-popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#searchInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#questionList {
    list-style-type: none;
    padding: 0;
}

#questionList li {
    padding: 8px;
    cursor: pointer;
}

#questionList li:hover {
    background-color: #ddd;
}

/* Style for registration form */
.registration-form {
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.registration-form h2 {
    text-align: center;
}

.registration-form form {
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin: 5px 0;
}

.registration-form input {
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registration-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #45a049;
}

.question-of-the-day-wrapper {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font: 1.5rem 'Patsy', sans-serif;
}

#loading {
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    
    --colorA: rgb(241, 81, 230);
    
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        border-top: 10px solid #fff;
        border-right: 10px solid #fff;
        filter: 
            drop-shadow(0 0 2px var(--colorA))
            drop-shadow(0 0 5px var(--colorA))
            drop-shadow(0 0 10px var(--colorA))
            drop-shadow(0 0 20px var(--colorA));
        animation: rotate 3s infinite linear;
    }
    
    &::after {
        --colorA: rgb(220, 198, 4);
        animation-delay: -1.5s;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#searchForm {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    text-align: center;
    flex-flow: column;
}

.question-title {
    position: relative;
    animation: neon 1s infinite alternate;
    color:rgb(241, 81, 230)
}


@keyframes neon {
    0%{
        color:rgb(220, 198, 4)
    }
    25% {
        color:rgb(241, 81, 230)
    }
    50% {
        color:rgb(220, 198, 4)
    }
    75% {
        color:rgb(241, 81, 230)
    }
    100% {
        color:rgb(220, 198, 4)
    }
}

.lookup {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-family: Patsy, sans-serif;
    vertical-align: center;
    width: 100%;
}

.search-question {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
}

.random-question {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchInput {
    font-family: Patsy, sans-serif;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin: 0;
}

#search {
    font-family: Patsy, sans-serif;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin: 0;
    color: white;
    background-color: #244706;
    cursor: pointer;
}

#random {
    font-family: Patsy, sans-serif;
    font-size: 1.7rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    background-color: #56180c;
    color: white;
}

#search-icon {
    width: 30px;
    height: auto;
    border-radius: 10px;
    margin: 0;
    position: relative;
    bottom: 40%;
    left: 40%;
}

.or {
    font-family: Patsy, sans-serif;
    font-size: 1.5rem;
    color: white;
}